server:
  port: 8000

spring:
  application:
    name: api-gateway-service
  cloud:
    gateway:
      routes:
        - id: account-service
          uri: lb://ACCOUNT-SERVICE
          predicates:
            - Path=/account-service/**
            - Method=GET,POST
          filters:
            - RewritePath=/account-service/(?<segment>.*), /$\{segment}

        - id: movie-service
          uri: lb://MOVIE-SERVICE
          predicates:
            - Path=/movie-service/**
            - Method=GET,POST
          filters:
            - RewritePath=/movie-service/(?<segment>.*), /$\{segment}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: info, health
